@font-face {
  font-family: "Tomato Grotesk";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    local("Tomato Grotesk SemiBold"),
    local("Tomato Grotesk Semi Bold"),
    local("Tomato Grotesk");
}

@font-face {
  font-family: "Tomato Grotesk";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local("Tomato Grotesk SemiBold"),
    local("Tomato Grotesk Semi Bold"),
    local("Tomato Grotesk");
}

@font-face {
  font-family: "Object Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("Object Sans Regular"),
    local("Object Sans");
}

@font-face {
  font-family: "Object Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local("Object Sans Bold"),
    local("Object Sans");
}

@font-face {
  font-family: "Folio Medium";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local("Folio Medium"),
    local("Folio");
}
